*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-color: #111;
    font-family: 'Poppins', sans-serif;
}

/* Navigation */

nav {
    position: fixed;
    /* top: 21px; */
    align-items: center;
    width: 100%;
}

.nav__container {
    display: flex;
    align-items: center;
    background-color: #B23B53;
    justify-content: center;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #F1A80F;
    margin-inline: 16px;
}

.nav__list {
    flex-shrink: 0;
    list-style: none;
    display: flex;
    list-style-type: none;
}

.nav__button-logo {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding-top: 2px;
    inline-size: 100%;
    margin-right: 100px;
    height: auto;
}

.nav__toggle-button {
    display: none;
}

@media (max-width: 1130px) {
    a {
        margin-inline: 8px;
    }
}
@media (max-width: 920px) {
    .main-nav {
        top: 0;
    }
    .main-nav--active {
        background-color: #B23B53;
        border-block-end: 1px solid rgba(255, 255, 255, 0.6);
    }
    .main-nav--active .main-nav--active {
        display: flex;
    }
    .nav__container {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav__button-logo {
        inline-size: auto;
        margin-inline-end: auto;
        margin-left: 10px;
    }
    .nav__toggle-button {
        display: inline-flex;
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 10px;
    }
    .nav__link{
        display: inline-block;
        padding-block: 16px;
    }
    .main-nav--active .nav__list {
        display: flex;
        flex-direction: column;
        inline-size: 100%;
        margin-block: 20px;
    }
    .nav__list {
        display: none;
    }
}